<!doctype html>
<html>
<body>
<div id="menu_wrapper">
    <div class="left_col">
        <h4>Dinner Entrees</h4>
        <ul class="menu_entrees">
            <li>Thai-style Halibut
                <ul class="menu_list">
                    <li>coconut milk</li>
                    <li>pan-fried halibut</li>
                    <li>early autumn vegetables</li>
                    <li>Thai spices</li>
                </ul>
            </li> <!-- Thai-style Halibut -->
            <li>Grilled Panini
                <ul class="menu_list">
                    <li>prosciutto</li>
                    <li>provolone</li>
                    <li>avocado</li>
                    <li>sourdough roll</li>
                </ul>
            </li> <!-- Grilled Panini -->
            <li>Southwest Slider
                <ul class="menu_lst">
                    <li>whole chiles</li>
                    <li>hambuger</li>
                    <li>whole chiles</li>
                    <li>whole chiles</li>
                </ul>
            </li> <!-- Southwest Slider -->
        </ul>
    </div> <!-- left_col -->
</div> <!-- menu_wraper -->
</body>
</html>