<!doctype html>
<html>
    <head>
        <title>Jump for Joy</title>
        <link rel="stylesheet" href="../../css/jumpForJoy/jumpForJoy.css">
        <link content="Hello World" href="images/jump1.jpg">
    </head>
    <body>
    <div id="header">
        <h2>Jump for Joy Sale!!</h2>
    </div>
    <div id="main">
        <div class="guess_box"><img src="images/jump1.jpg"></div>
        <div class="guess_box"><img src="images/jump2.jpg"></div>
        <div class="guess_box"><img src="images/jump3.jpg"></div>
        <div class="guess_box"><img src="images/jump4.jpg"></div>
    </div>
    <script src="../../libs/jquery-1.5.2.min.js"></script>
    <script src="../../js/jumpForJoy/jumpForJoyGlobalVariables.js"></script>
    <script src="../../js/jumpForJoy/index.js"></script>
    </body>
</html>